@use 'src/styles/vars';

.field {
    &__input-text {
        width: 100%;
        border: none;
        padding: vars.$gutter / 4;
        margin-bottom: vars.$gutter / 2;
        border-radius: 5px;
    }
}