@use 'src/styles/vars';

.header {
  // font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: vars.$gutter / 2;
  background-color: vars.$color-primary;
  border-bottom: 1px solid vars.$color-primary;
  &__logo {
    width: 150px;
  }
  &__link {
    padding: 0 vars.$gutter / 2;
    &:hover, &--active {
      color: blue;
    }
  }
}
