@use 'src/styles/vars';

.header {
  width: 100%;
  // font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: vars.$gutter / 2;
  background-color: vars.$color-primary;
  border-bottom: 1px solid vars.$color-primary;
  &__logo {
    width: 150px;
  }
  &__link {
    padding: 0 vars.$gutter / 2;
    &:hover, &--active {
      color: blue;
    }
  }
}

.logout__submit {
  border: none;
  background-color: rgb(115, 149, 252);
  padding: vars.$gutter / 4;
  border-radius: 5px;
  color: white;
}
