@use 'src/styles/vars';

.login { 
  width: 50%;
  &__form {
    display: flex;
    align-items: center;
  }
  &__message {
    text-align: right;
    margin: .3em 1em;
  }
  &__logged {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }  
  &__submit {
    font-weight: 700;
  font-size: 1em;
  color: #fff;
  background-color: #f17f42;
  border-radius: .3em;
  border: 0;
  padding: .7em;
  height: 2.5em;
  }
}


  
  